{% extends 'frontend/base.html' %}
{% block title %} Home Page {% endblock %}
{% block content %}
<body>
    <div class="container mx-auto my-5 p-3" style="max-width: 1280px; border: 3px solid #f8f9fa; background-color: rgba(248, 249, 250, 0.9);">
        <h1 class="text-center mb-4 display-4">Welcome, {{user.username}}!</h1>
        {% if user.is_authenticated %}
            <div class="text-end mb-4">
                <a class="btn btn-primary btn-lg" href="/createpost" role="button">Create Post</a>
            </div>
        {% endif %}
        <div class="container-fluid p-4" style="border: 3px solid #343a40; max-height: 600px; overflow-y: scroll;">
            <div class="container">
                {% for post in forum_posts %}
                {% if not post.is_complete %}
                <div class="card my-4 border-danger position-relative">
                    <div class="position-absolute top-0 end-0 p-3">
                        {% if not post.is_complete %}
                            <form method="post" action="{% url 'mark_complete' post.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">Complete</button>
                            </form>
                        {% endif %}
                        {% if user.is_staff or user == post.creator%}
                        <form method="post" action="{% url 'delete_post' post.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger mt-2">Delete</button>
                        </form>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-wrap" style="max-width: 1000px;">{{ post.title }}</h2>
                        <p class="card-text text-wrap" style="max-width: 1000px;">{{ post.content }}</p>
                        <p class="card-text"><small class="text-muted">Created by {{ post.creator.username }} at {{ post.date_created }}</small></p>
                    </div>
                </div>                
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</body>
{% endblock %}
