{% extends 'frontend/base.html' %}
{% block title %} Home Page {% endblock %}
{% block content %}
<body>
    <div class="container mx-auto" style=" width: 1280px; margin-top: 8%; border: 3px outset white; text-align: center; height: 800px; background-color: rgba(255,255,255, .95)">
        <h1 style="color: black; margin-top: 10px;"> Test Build </h1>
        <div class="container-fluid mx-auto" style="border: 5px outset black; height: 83%; width: 85%; ">    
            <h1>  </h1>
            <p> Welcome!  </p>

        </div>
    </div>
</body>
{% endblock %}