{% extends 'frontend/base.html' %}
{% block title %} IT Troubleshooting Tools {% endblock %}
{% block content %}
<body>
    <div class="container mx-auto my-5 p-3" style="max-width: 1280px; border: 3px solid #f8f9fa; background-color: #f8f9fa;">
        <h1 class="text-center mb-4 display-4">Tool Belt</h1>
        <div class="container-fluid p-4" style="border: 3px solid #343a40; max-height: 600px; overflow-y: scroll;">
            <div class="container">
                <div class="card my-4">
                    <div class="card-body" style="position: relative;">
                        <h2 class="card-title">TeamViewer</h2>
                        <p class="card-text">A remote access and support software for collaboration and troubleshooting.</p>
                        <a href="https://www.teamviewer.com/" class="btn btn-primary" style="position: absolute; top: 0; right: 0;" target="_blank">Go to Tool</a>
                    </div>
                </div>
                <div class="card my-4">
                    <div class="card-body" style="position: relative;">
                        <h2 class="card-title">Wireshark</h2>
                        <p class="card-text">A network protocol analyzer for troubleshooting and analysis.</p>
                        <a href="https://www.wireshark.org/" class="btn btn-primary" style="position: absolute; top: 0; right: 0;" target="_blank">Go to Tool</a>
                    </div>
                </div>
                <div class="card my-4">
                    <div class="card-body" style="position: relative;">
                        <h2 class="card-title">Nmap</h2>
                        <p class="card-text">A network exploration tool and security scanner for auditing networks.</p>
                        <a href="https://nmap.org/" class="btn btn-primary" style="position: absolute; top: 0; right: 0;" target="_blank">Go to Tool</a>
                    </div>
                </div>
                <div class="card my-4">
                    <div class="card-body" style="position: relative;">
                        <h2 class="card-title">PuTTY</h2>
                        <p class="card-text">A terminal emulator, serial console, and network file transfer application.</p>
                        <a href="https://www.putty.org/" class="btn btn-primary" style="position: absolute; top: 0; right: 0;" target="_blank">Go to Tool</a>
                    </div>
                </div>
                <div class="card my-4">
                    <div class="card-body" style="position: relative;">
                        <h2 class="card-title">SolarWinds</h2>
                        <p class="card-text">A network performance monitoring and diagnostics tool for troubleshooting network issues.</p>
                        <a href="https://www.solarwinds.com/" class="btn btn-primary" style="position: absolute; top: 0; right: 0;" target="_blank">Go to Tool</a>
                    </div>
                </div>
                <div class="card my-4">
                    <div class="card-body" style="position: relative;">
                        <h2 class="card-title">GIMP</h2>
                        <p class="card-text">A powerful image editing software for graphic design and photo manipulation.</p>
                        <a href="https://www.gimp.org/" class="btn btn-primary" style="position: absolute; top: 0; right: 0;" target="_blank">Go to Tool</a>
                    </div>
                </div>
                <div class="card my-4">
                    <div class="card-body" style="position: relative;">
                        <h2 class="card-title">Malwarebytes</h2>
                        <p class="card-text">An anti-malware software for detecting and removing malware from computer systems.</p>
                        <a href="https://www.malwarebytes.com/" class="btn btn-primary" style="position: absolute; top: 0; right: 0;" target="_blank">Go to Tool</a>
                    </div>
                </div>
                <div class="card my-4">
                    <div class="card-body" style="position: relative;">
                        <h2 class="card-title">Ccleaner</h2>
                        <p class="card-text">A system optimization and privacy tool for cleaning up temporary files and invalid Windows Registry entries.</p>
                        <a href="https://www.ccleaner.com/" class="btn btn-primary" style="position: absolute; top: 0; right: 0;" target="_blank">Go to Tool</a>
                    </div>
                </div>
                <div class="card my-4">
                    <div class="card-body" style="position: relative;">
                        <h2 class="card-title" style="white-space: nowrap; display:">Process Explorer</h2>
                        <p class="card-text">A system monitoring tool that provides detailed information about processes running on your system.</p>
                        <a href="https://docs.microsoft.com/en-us/sysinternals/downloads/process-explorer" class="btn btn-primary" style="position: absolute; top: 0; right: 0;" target="_blank">Go to Tool</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
